//For BLG840F
&uart0 {
  current-speed = <115200>;
  status = "ok";
  tx-pin = <29>;
  rx-pin = <28>;
  rts-pin = <27>;
  cts-pin = <26>;
  hw-flow-control; // disable if debugging on the 9160 DK
};

&pwm1 {
	status = "ok";
};

&pwm2 {
	status = "ok";
};

&pwm3 {
	status = "ok";
};
